<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/main">Main</a>
        </li>
        <li *ngFor="let category of categories">
          <a class="nav-link" routerLinkActive="active"
            [routerLink]="['/category',category.categoryId]">{{category.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="user?.rol=='admin'"
            routerLink="/admin/configurep">configure products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="user?.rol=='admin'"
            routerLink="/admin/configurec">configure categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="user?.rol=='admin'"
            routerLink="/admin/configureu">configure users</a>
        </li>
      </ul>
      <div id="cart">
        <a class="nav-link mx-3" routerLinkActive="active" routerLink="/shoppingcart"><i
            class="fa-solid fa-cart-shopping"><strong *ngIf="length!=0">{{length}}</strong></i></a>
            <a class="nav-link mx-3" routerLinkActive="active" routerLink="/account"><i class="fa-sharp fa-regular fa-user"></i></a>
      </div>
      
      <button mat-raised-button color="warn" type="button" (click)="logOut()">Log out</button>
    </div>
  </div>
</nav>